* {
    background-color: hsl(180, 100%, 50%);
    background-image: repeating-linear-gradient();
    font-size: x-large;
    font-family: cursive;
    font-weight: ligh;
    font-variant: small-caps;
    font-style: oblique;
    text-decoration: line-through;
    background-position: ;
}


.h1.tag2